<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigMath" version="0.5.0" targetFramework="net472" />
  <package id="cef.redist.x64" version="79.1.35" targetFramework="net472" />
  <package id="cef.redist.x86" version="79.1.35" targetFramework="net472" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net472" />
  <package id="CefSharp.OffScreen" version="79.1.350" targetFramework="net472" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net472" />
  <package id="MarkerMetro.Unity.Ionic.Zlib" version="2.0.0.14" targetFramework="net472" />
  <package id="TLSharp" version="0.1.0.470" targetFramework="net472" />
</packages>